﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewData["Error"] != null)
{

    <div> <strong> @ViewData["Error"]</strong></div>
     
}

<a asp-action="IndexWhithModel">form with model</a>

<form action="/Form/GetForm" method="post">
    
    <label>Name</label>
    <input type="text" name="name" value="" />
    <br>
    <label>Password</label>
    <input type="password" name="password" value="" />
    <br>
    <input type="submit" name="name" value="Send" />
</form>